@import url('https://fonts.googleapis.com/css?family=Poppins');

body, html {
    height: 100%;
    font-family: 'Poppins' sans-serif;
}

input {
    outline: none;
    border: none;
}

.container-login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background:repeating-radial-gradient(white,black) ;
}

.wrap-login {
    width: 450px;
    height: 650px;
    background:#222222;
    border-radius: 10px;
    overflow: hidden;
    padding: 66px 55px 33px 55px;
    box-shadow: 0 0 3px 3px #151414,6px 6px 8px 4px rgba(136,136,136,0.7), -6px -6px 8px 4px rgba(244,244,244,0.7);
}

.login-form {
    width: 100%;
}

.login-form-title {
    display: block;
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: bold;
    color: white;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 60px;
}

.wrap-input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 20px;
}

.input {
    font-family: 'Poppins';
    font-size: 15px;
    color: white;
    line-height: 1.2;
    display: block;
    width: 94%;
    height: 45px;
    background: transparent;
    padding: 0 5px;
}

.focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

    .focus-input:before {
        content: "";
        position: absolute;
        display: block;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 2px;
        background: #333333;
        transition: all 0.4s;
    }

    .focus-input:after {
        font-family: "Poppins";
        font-size: 15px;
        color: #999999;
        line-height: 1.2;
        content: attr(data-placeholder);
        display: block;
        width: 100%;
        position: absolute;
        top: 16px;
        left: 0px;
        padding-left: 5px;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
    }

button {
    outline: none !important;
    border: none;
    background: transparent;
}

.txt1 {
    font-family: 'Popppins';
    font-size: 13px;
    color: #eddede;
    line-height: 1.5;
}

.txt2 {
    font-family: 'Popppins';
    font-size: 13px;
    color: rgba(244,244,244,0.7);
    line-height: 1.5;
    text-decoration: none;
    font-size: 15px;
}
    .txt2:hover {
        color: #fff;
    }

.text:hover {
    text-decoration: underline;
}

.container-login-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.wrap-login-form-btn {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 0 3px 3px #dddddd, 4px 4px 6px 2px rgba(136,136,136,0.7), -4px -4px 6px 2px rgba(244,244,244,0.7);
    
}

.login-form-btn {
    font-family: "Poppins";
    font-size: 15px;
    color: white;
    line-height: 1.2;
    font-weight: bold;
    text-transform: uppercase;
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    padding: 0 20px;
    height: 40px;
    width: 100%;
}

    .login-form-btn:hover {
        background-color: white;
        color: black;

    }

    .login-form-btn:active {
        background-color: black;
        color: white;
    }
.text-center {
    text-align: center;
    padding-top: 70px;
    
}



