@charset "utf-8";
/* CSS Document */


/*navbar*/
.navbar {
    background-color: black;
}
a {
    color: white !important;
}
a:hover {
    opacity:70% !important;
}
.nav-link {
    color: white;
}
.nav-link:hover {
    color: dimgray;
}
/* .dropbtn {
  background-color: black;
  color: white;
  padding: 15.5px;
  font-size: 18px;
  border: none;
} */

.dropdown {
  position: relative;
  display: inline-block;
 }

.dropdown-content {
  display: none;
  position: absolute;
  opacity: 2;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  opacity: 2;
  padding: 4px ;
	text-decoration-color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover { color: dimgray;
text-decoration: none;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color:black;}
/*navbar*/


#remove{
   background-color:grey;
   color: white;
}
.divqty
{
  display: inline-block;
}
icon-shape {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}
#qty{
	width: 140px;
	height: 50px;
}

.icon-sm {
    width: 2rem;
    height: 2rem;
    
}
.button-plus
{
	background-color:#7bb0ed;
}
.button-minus
{
	background-color:#e64432;
}
#num_items{
	color:#83f261;
}

footer
{
	background-color: black;
	
}
#qty::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.loginContainer {
     flex:2;
    align-items: center;
   margin-left: 680px;
 
 }


 
.logout{
     display:none;
     flex:1;
     align-items: center;
    justify-content: flex-end ;
    margin-right: -5px;
  }

.link{
    font-family: 'Raleway', sans-serif;
} 

.logindiv, .cartdiv{
    display: inline-block;
    margin-right: 50px;

}

 

.cartimg{
    width: 20px;
    height: 20px;
}

#loginimg{
    width: 20px;
    height: 20px;
    color: white;
}
   
#logoutimg{
    width: 20px;
    height: 20px;
    color: white;
}

#cartimg{
    width: 20px;
    height: 20px;
    color: white;
}

.cart_link, .login_link, .logout_link{
     color: white;
     font-weight: bold;
}

.logout_link:hover {
    color: dimgray;
    text-decoration: none;
}

.cart_link:hover {
    color: dimgray;
    text-decoration: none;
}
.login_link:hover {
    color: dimgray;
    text-decoration: none;
}


