 

/*navbar*/
 
header{
    height: 3rem !important;
}
.navbar {
    background-color: black;
}

.nav-link {
    color: white;
}
.nav-link:hover {
    color: dimgray;
}

.container{
    max-width: 65rem;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.nav-btn{
    flex: 4;
    display: flex;
}

.filterbox{
display: flex;
align-items: flex-start;
 }

.filterP{
    letter-spacing: 2px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

section{
    height: calc(100vh - 3rem);
    width: 100%;
    background: url('../../img/adidas.jpg') no-repeat top center / cover;
    overflow: hidden;
}

.logo-container{
    flex: 0.5;
 }

.filterbox{
    flex:4;
   }

.loginContainer {
     flex:2;
    align-items: center;
   margin-left: 100px;
 
 }

 
.logout{
    display:none;
     flex:1;
     align-items: center;
    justify-content: flex-end ;
    margin-right: -10px;
  }

.link{
    font-family: 'Raleway', sans-serif;
} 

.logindiv, .cartdiv{
    display: inline-block;
    margin-right: 20px;

}

 

.cartimg{
    width: 20px;
    height: 20px;
}

#loginimg{
    width: 20px;
    height: 20px;
    color: white;
}
   
#logoutimg{
    width: 20px;
    height: 20px;
    color: white;
}

#cartimg{
    width: 20px;
    height: 20px;
    color: white;
}

.cart_link, .login_link, .logout_link{
     color: white;
     font-weight: bold;
}

.logout_link:hover {
    color: dimgray;
    text-decoration: none;
}

.cart_link:hover {
    color: dimgray;
    text-decoration: none;
}
.login_link:hover {
    color: dimgray;
    text-decoration: none;
}

.menu_div{
    color: white;
    margin-left: 50px;
    font-size: 20px;
    letter-spacing:2px;
}




 .dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    width: 10rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

 


 .menudrop{
  }

 .dropdown_link > a{
     display: flex;
     background: white;
     color: dimgray;
     padding: .5rem 1rem;
     font-size: .9rem;
     align-items: center;
     justify-content: space-between;
     transition: .3s;
 }
.dropdown ul{
    list-style-type: none;
    
    position: relative;
}

.dropdown_link:not(:nth-last-child(2)){
    border-bottom: 1px solid #efefef;
}
.dropdown_link:hover > a{
    background-color: dimgray;
    color:white;
    decoration:none;
}


.arrow{
    position:absolute;
    width:11px;
    height:11px;
    background-color:white;
    top:-4px;
    left:43px;
    transform: rotate(45deg);
    cursor:pointer;
    transition:.3s;
 
}

.dropdown_link:first-child:hover ~ .arrow{
    background-color: dimgray;
} 

.menudrop_link:hover > .dropdown{
    transform: translate(0,0);
    opacity:1;
    pointer-events:auto;
}

.dropdown_link:hover > a{
    transform: scale(1.1);
}


 

.navlink:hover > .dropdown{
    transform: translate(0,0);
    opacity:1;
    pointer-events:auto;
}

.navlink > a{
    line-height: 3rem;
    color: #fff;
    padding: 0 .8rem;
    letter-spacing: 1px;
    font-size: .95rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}

.navlink:hover > a{
    transform: scale(1.1);
}



.navlinks > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}




.navlink{
  position:relative;
}


.container {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  
  
  .container6 img {
    width: 100%;
    height: auto;
  }
  
  .container6 .btn6 {
    position: absolute;
    top: 70%;
    left: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 1.5vw;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    letter-spacing: 3px;

  }

  .btnregister{
    letter-spacing: 2px;
    position: absolute;
    top: 80%;
    left: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 1.5vw;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;

  }

  .container6 .btn6:hover, .btnregister:hover {
    background-color: black;
  }

  .pImg{
    position: absolute;
    top: 45%;
    left: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 3vw;
 
  }

  .pImg2{
    letter-spacing: 3px;
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 3vw;
  }

  h1{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-top:50px;
    padding-bottom:20px;
    letter-spacing:3px;

}

.spanimg{
    font-weight: bold;
    font-size: 4vw;
}

.Image_text_Div {
  background-color: red;
 
}

 























/*title*/
.title-text {
    text-align: center;
    padding-bottom: 70px;
    margin-top:110px;
}
/*control*/
form .btn {
    background-color: black;
    color:white;
}
form .btn:hover {
        background-color: dimgray;
        color: white;
    }
form span{
    font-size:18px;
}
.select:hover{
    opacity:70%;
}
#insearch:hover {
    opacity: 70%;
}


 .hideP { 
     display: none;
    }

/*table*/
tr {
    font-size: 18px;
    text-align: center;
    vertical-align: middle !important;
}
td {
    font-size: 18px;
    vertical-align: middle !important;
}

tr img {
    width:110px;
    height:110px;
    border-radius:10px;
}
.fa-thumbs-up {
    color: forestgreen;
    font-size: 22px;
}
.fa-thumbs-down {
    color: crimson;
    font-size: 22px;
}
#action button:hover {
    opacity: 50%;
}
.fa-edit, .fa-trash{
    font-size:22px;
}
.fa-edit {
    color: blue;
}
.fa-trash{
    color:red;
}
/*modal*/
.modal{
    margin-top:50px;
    width:500px;
    height:1000px;
}
.modal-header {
    background-color:black ;
    color: #fff;
}

.required:after {
    
    color: red;
}
.addbtn {
    text-align: right;
    vertical-align: middle !important;
}
.modal .close {
    color:white;
}
.modal .close:hover {
    color: dimgray;
}
form input:hover {
    opacity: 70%;
}

/* delete or deactivate modal */
#myModaldelete  .modal-body {
    text-align: center !important;
}
#myModaldelete{
    margin-top:220px;
}
#myModaldelete .modal-header {
    background-color:#b41b11;
}
#deactivate_product {
    color: white;
    background-color:firebrick;
}
#delete_product {
    color: white;
    background-color: red;
}
#cancel_delete {
    background-image: linear-gradient(black,red);
}